.App {
  text-align: justify;
}


/* MAIN CONTENT */

.main{
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:160px;
  margin-bottom:5%;
  display:flex;
  justify-content: space-between;
}


.mainContent{
  width:60%;
  margin-left:2%;
  margin-bottom:5%;
  margin-right:0;
}

h2{
  font-size:2.5em
}

.main p{
  font-size:1.3em;
}

.main li{
  font-size:1.3em;
}

.main h3{
  font-size:2em;
  color:#05a2ce;
}

.quote{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-left: 7px solid #05a2ce;
  padding: 15px 30px;
  margin-bottom: 20px;
}

code{
  font-family:monospace,serif;
  color:#05a2ce;
}

@media screen and (max-width: 900px) {

  .main{
    margin-top:220px;
    flex-direction:column;

  }
  .mainContent{
    width:100%;
    text-align:left;
    margin-left:0;
    margin-right:0;

  }

  .mainContent img{
    width:100%;
  }
}