.App {
  text-align: justify;
}

/* MENU PRINCIPAL */

.mainMenu{
  display:flex;
  background-color:#20232a;
  text-align:center;

}

.mainMenu ul{
  align-self:center;
  display:flex;
}

.mainMenu li{
  list-style-type: none;
  font-weight:bold;
  font-size:1.3em;
  padding-left:2%;
}

.mainMenu li a{
  text-decoration:none;
  color:#ffffff;
}

.mainMenu li a:hover{
  cursor:pointer;
  color:#61dafb;
}

/* MAIN CONTENT */

.home{
  text-align:center;
}
.main{
  width:50%;
  margin:auto;
  margin-bottom:5%;
}

h2{
  font-size:2.5em
}

.main p{
  font-size:1.3em;
}

.main li{
  font-size:1.3em;
}

.main h3{
  font-size:1.8em;
  color:#05a2ce;
}

cite{
  background-color: rgb(192, 225, 236);
    padding: 15px;
    border-left: solid 5px #05a2ce;
}